.GamingLibraryCard ul {
    list-style: none;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid red;
    
}
.GamingLibraryCard ul li{
    padding-bottom: 5px;
}
.GamingLibraryCard{
    flex: 1 1 100%;
   
    padding:20px 0;
   
}
.GamingLibraryCard button{
    background-color: transparent;
    border: none;
    color:blue;
    
}
.GamingLibraryCard button:hover{
    color:#fff;
    transition: .3s;
}
